<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Impulsion Collective{% endblock %}</title>
        <meta name="author" content="impulsion collective">

        <!-- CSS -->
        {{ encore_entry_link_tags('app') }}
        <link href="{{ asset('/assets/css/product.css') }}" rel="stylesheet">
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon.ico') }}" />

    </head>

    <body>
    {% block header %}
    <header class="site-header sticky-top py-1">
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 d-none d-md-inline-block" href="{{ path('shop') }}">Accueil</a>
            <a class="py-2 d-none d-md-inline-block" href="{{ path('products') }}">Nos produits</a>
            <a class="py-2 d-none d-md-inline-block" href="{{ path('contact') }}">Nous contacter</a>
            {% if app.user  %}
                <a class="py-2 d-none d-md-inline-block" href="{{ path('account') }}">Mon compte <small>({{ app.user.firstname }})</small></a>
                <a class="py-2 d-none d-md-inline-block" href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a class="py-2 d-none d-md-inline-block" href="{{ path('app_login') }}">Connexion</a>
                <a class="py-2 d-none d-md-inline-block" href="{{ path('register') }}">Inscription</a>
            {% endif %}
            <a href="{{ path('cart') }}">
                <img src="{{ asset('assets/img/shopping-cart.png') }}" class="py-2 d-none d-md-inline-block cart-icon" alt="Mon panier" >
            </a>
        </nav>
    </header>
    {% endblock %}
    {% block body %}
    {% endblock %}
    <footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
            <script src="{{ asset('assets/js/index.js') }}"></script>
        {% endblock %}
        {% block script %}
        {% endblock %}
    </footer>
    </body>
</html>


