{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/index.js') }}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <main class="p-3 p-md-5 m-md-3">
        <h2>Ma commande</h2>
        <p>Vérifiez vos informations avant de payer votre commande</p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <strong>Mon adresse de livraison</strong><br>
                <div class="form-check mt-4">
                    {{ delivery|raw }}
                </div>
                <hr>
                <strong>Mon transporteur</strong>
                <div class="form-check">
                    {{ carrier.name }}<br>
                    {{ carrier.description }}<br>
                    {{ (carrier.price / 100)|number_format(2) }} €
                </div>

            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <p><b>Récapitulatif de ma commande</b></p>
                </div>
                <div class="order-summary">
                    {% set total = null %}
                    {% for key,product in cart %}
                        <div class="row {% if key > 0 %}mt-2{% endif %}">
                            <div class="col-2"><img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px"></div>
                            <div class="col-8 my-auto">
                                {{ product.product.name }}<br>
                                <small>
                                    {{ product.product.subtitle }}
                                    <br>
                                    x {{ product.quantity }}
                                </small>
                            </div>
                            <div class="col-2 my-auto">
                                {{ ((product.product.price * product.quantity) / 100)|number_format(2) }}€
                            </div>
                        </div>
                        {% set total = total + (product.product.price * product.quantity) %}
                    {% endfor %}
                </div>

                <hr>
                <strong>Sous-total : </strong> {{ (total / 100)|number_format(2) }} €<br>
                <strong>Livraison : </strong> {{ (carrier.price / 100)|number_format(2) }} €
                <hr>
                <strong>Total : </strong> {{ ((total / 100) + (carrier.price / 100))|number_format(2) }} €<br>

                <a class="btn btn-success btn-block mt-3" id="checkout-button">Payer {{ ((total / 100) + (carrier.price / 100))|number_format(2) }} €</a>
            </div>
        </div>

    </main>
{% endblock %}


{% block script %}
    <!-- Script Stripe -->
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("pk_test_51JAbGwD4qmP6gSwe4gbvWAQxOiJthPNtAWwNY7NW5YgBAK3AcrASufVJlIMh9GctDyeF9YeNLkLc5WXvCKVz0cwP00YRigLY1O");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("/shop/commande/create-session/{{ reference }}", {
                method: "POST",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    //si erreur de la session commande
                    if (session.error == 'order'){
                        //redirection étape 2 tunnel d'achat
                        window.location.replace('{{ path('order') }}');
                    }
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock %}

